@import "nord-pink.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

*.modules-left, *.modules-center, *.modules-right {
  margin-top: 15px;
}

#waybar {
  color: @text;
  background-color: @transparent;
}

#workspaces {
  margin-left: 15px;

  border-radius: 999px;

  color: @text;
  background-color: @background;
}

#workspaces button {
  background-color: @background;
  border-radius: 999px;
}

#workspaces button.active {
  background-color: @active;
}

#workspaces button:hover {
  background-color: @active;
  border: 0;
}

#window {
  padding: 0 15px;

  border-radius: 999px;

  background-color: @background;
}

#pulseaudio.low {
  background-color: @volume-min;
}

#pulseaudio.medium {
  background-color: @volume-med;
}

#pulseaudio.high {
  background-color: @volume-max;
}

#custom-power {
   margin-right: 15px;
}

#cpu,
#memory,
#temperature {
  background-color: @background;
}

#cpu {
  padding-left: 15px;
  padding-right: 10px;

  border-radius: 999px 0 0 999px;
}

#memory {
  padding-right: 10px;
}

#temperature {
  margin-right: 10px;
  padding-right: 15px;

  border-radius: 999px 0 0 999px;
}
